.wrapper {
  min-height: calc(100vh - 150px);
  margin-top: $mobile-nav-height;
}

.hero-image-area {
  border-bottom: 4px solid $theme-blue;
}

.hero-image {
  display: none;
}

div#selection-buttons-clearfix {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.selection-buttons {
  position: relative;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 350px;
  width: 350px;
  padding: 45px 25px;
}

.selection-button {
  position: relative;
  background: $theme-blue;
  height: 100px;
  width: 100px;
  margin: 15px;
  @include theme-color-box-shadow;
}

.selection-buttons-icon {
  position: relative;
  top: 20px;
  text-align: center;
}

.selection-buttons-icon svg {
  height: 40px;
  fill: #fff;
}

.selection-button {
  box-shadow: 0px 0px 18px 9px #fff;
}

#swimming-pools {
  border: 1px solid $orange;
}

#opening-hours {
  border: 1px solid $blue;
}

#locations {
  border: 1px solid $brown;
}

#announcements {
  border: 1px solid $green;
}

.buttons-text-banner {
  position: absolute;
  height: 25px;
  width: 100%;
  bottom: 0;
}

.buttons-text-banner p {
  line-height: 1em;
  color: #fff;
  margin: 6px 0;
  text-align: center;
}

.swimming-pools-text-banner {
  background: $orange;
}

.opening-hours-text-banner {
  background: $blue;
}

.locations-text-banner {
  background: $brown;
}

.announcements-text-banner {
  background: $green;
}

/* Ad banner one */
.ads-banners {
  position: relative;
}

.ads-banners img {
  width: 100%;
}

.ad-banner-two {
  margin-bottom: -16px;
}

/* Latest posts section */
.latest-posts,
.announcements-bkg,
.region-buttons-area,
.swp-single-posts-area {
  background: $bkg-gray;
  position: relative;
}

.latest-posts,
.region-buttons-area {
    padding: 50px 0;
}

.latest-posts-content,
.region-buttons-content {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

.latest-posts p {

}

.latest-posts h2,
.search-results-list h2 {
  font-size: 2.136em;
  padding-top: 2rem;
  padding-bottom: 20px;
  margin-top: 0;
}

.latest-posts h2,
.search-results-list h2,
.swp-single-post h2,
.region-buttons-area h2 {
  text-align: center;
  color: $theme-blue;
  text-shadow: 2px 2px 5px #c0c0c0;
}

.latest-flex-container,
.search-results-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.latest-flex-item,
.search-results-flex-item {
  flex-grow: 1;
}

.latest-flex-container {
  justify-content: space-between;
}

.search-results-flex-container {
  max-width: 34em;
  margin: 0 auto;

}

.latest-posts ul,
.footer-menu-items ul,
.mobile-menu-items ul,
.search-results-list ul,
.region-buttons-area ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2em;
  position: relative;
  z-index: 2;
}

.latest-posts li,
.search-results-list li {
  padding: 7px;
  box-shadow: 3px 3px 6px #c0c0c0;
}

.latest-posts li p {
  margin-bottom: 0;
}

li.tilkynningar,
div.tilkynningar {
  @extend %li-border-green;
}

li.opid,
div.opid {
  @extend %li-border-blue;
}

li.sundlaugar,
div.sundlaugar {
  @extend %li-border-orange;
}

li.stadsetningar,
div.stadsetningar {
  @extend %li-border-brown;
}

.latest-posts a,
.swp-single-post a {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
}

.latest-post-title {
  font-weight: bold;
  font-size: 0.9em;
}

i.latest-post-date {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
  text-align: right;
  color: #777;
}

.swimmer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  height: 760px;
  position: absolute;
  z-index: 1;
}

.swimmer svg {
  width: 220px;
  fill-opacity: 0.2;
  fill: #c0c0c0;
}

@include mobile-landscape-nrw {
  .swimmer {
    height: 735px;
  }

  .swimmer svg {
    width: 290px;
  }
}

@include mobile-landscape {
  .latest-flex-container {
    // width: 560px;
    margin: 0 auto 2em;
  }

  .latest-flex-item {
    flex: 1 270px;
    margin-right: 30px;
  }

  .latest-flex-item:nth-child(2n) {
    margin-right: 0;
  }

  .swimmer {
    height: 420px;
  }

  .swimmer svg {
    width: 420px;
  }
}

@include tablets {
  .wrapper {
    margin-top: 115px;
  }

  .display-search-form {
    height: 111px;
}

  .hero-image-area {
    height: 470px;

  }

  .hero-image {
    position: fixed;
    display: block;
    z-index: -5;
  }

  .hero-image img {
    max-width: 100%;
  }

  .selection-buttons {
    top: 25px;
    width: 100%;
    padding: 0;
    flex-wrap: nowrap;
    align-content: center;
  }



  .buttons-text-banner p {
    line-height: 0.9em;
    font-size: 0.9em;
  }

  .latest-posts,
  .region-buttons-area {
    padding: 100px 0 120px;
  }

  .latest-posts h2,
  .swp-single-post h2,
  .region-buttons-area h2 {
    font-size: 3.136em;
  }
  .latest-flex-container {
    width: 680px;
  }

  .swimmer {
    height: 500px;
  }

  .swimmer svg {
    width: 500px;
  }
}
