.language-selection {
  display: none;
}

.language-selection,
.language-selection-mobile {
  position: absolute;
  z-index: 10000;
}

.language-selection ul,
.language-selection-mobile ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
}

.language-selection-mobile {
  margin-top: 15px;
  width: 100%;
}

.language-selection-mobile ul {
  width: 93px;
  margin: 0 auto;
}

.language-selection li,
.language-selection-mobile li {
  list-style: none;
  margin: 0;
  height: 12px;
}

.language-selection li a,
.language-selection-mobile li a {
    text-decoration: none;
}

div#lang_sel_list ul {
  border: none;
}

@include mobile-landscape-nrw {
  .language-selection-mobile {
    display: none;
  }

  .language-selection {
    display: block;
    top: 5px;
    right: 15px;
  }

  .language-selection ul {
    flex-direction: column;
    width: 18px;
    height: 50px;
  }
}

@include tablets {
  .language-selection {
    top: 30px;
  }
}
