// Medis queries variables
$brk-mobile-landscape-nrw : 480px;
$brk-mobile-landscape     : 640px;
$brk-tablets              : 768px;
$brk-displays             : 1024px;

// Main colors
$theme-blue : rgba(88,183,231,1); /* #58B7E7 */
$blue   : #3344B4;
$orange : #B45533;
$green  : #9A9733;
$brown  : #9A621C;

$transparent-theme-blue : rgba(88,183,231,0.1);
$transparent-blue       : rgba(51,68,180,0.1);
$transparent-orange     : rgba(180,85,51,0.1);
$transparent-green      : rgba(154,151,51,0.1);
$transparent-brown      : rgba(154,98,28,0.1);

$mobile-nav-height : 65px;
